[Unit]
Description=DomU

[Service]
Type=oneshot
ExecStart=/usr/sbin/xl create /etc/xen/domu.cfg
ExecStop=/usr/sbin/xl shutdown -w DomU
ExecStopPost=/usr/sbin/xl destroy DomU
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
