[Unit]
Description=Camera backend
Wants=xenstored.service
After=xenstored.service

[Service]
Type=simple
Environment="XDG_RUNTIME_DIR=/run/user/0"
ExecStartPre=
ExecStart=/usr/bin/camera_be -c /etc/camera_be.cfg
ExecStartPost=/usr/bin/xenstore-write drivers/camerabe/status ready
ExecStop=/usr/bin/xenstore-write drivers/camerabe/status dead
ExecStopPost=/usr/bin/xenstore-write drivers/camerabe/status dead
Restart=always
RestartSec=4

[Install]
WantedBy=multi-user.target
