[Unit]
Description=Display backend
Wants=xenstored.service
After=xenstored.service weston.service

[Service]
Type=simple
Environment=WAYLAND_DISPLAY=wayland-1
EnvironmentFile=/etc/default/weston
TimeoutStartSec=1
ExecStart=/usr/bin/displ_be
ExecStartPost=/usr/bin/xenstore-write drivers/displbe/status ready
ExecStop=/usr/bin/xenstore-write drivers/displbe/status dead
ExecStopPost=/usr/bin/xenstore-write drivers/displbe/status dead
Restart=always
RestartSec=4

[Install]
WantedBy=weston.service
