[Unit]
Description=Android VM
Requires=backend-ready@displbe.service backend-ready@sndbe.service backend-ready@bridge.service
After=backend-ready@displbe.service backend-ready@sndbe.service backend-ready@bridge.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/xl create /etc/xen/doma.cfg
ExecStop=/usr/sbin/xl destroy DomA
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
