[Unit]
Description=Block device ready notification
# Assuming that -.mount will mount root file system
# and PV Block should be functional at that time
Wants=-.mount
After=-.mount

[Service]
Type=simple
ExecStart=/usr/bin/xenstore-write drivers/block/status ready
RemainAfterExit=yes
ExecStopPost=/usr/bin/xenstore-write drivers/block/status dead
Restart=on-failure

[Install]
WantedBy=multi-user.target
